h1 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  color: white;
}
p {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
main {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 0.5px;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

header p {
  color: white;
}

.porsche {
  display: flex;
  align-items: center;
  gap: 30px;
}

.porsche a {
  width: auto;
  padding: 0;
  background: transparent;
}

.porsche img {
  display: block;
  width: 250px;
  transition: transform 0.3s;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgb(141, 138, 138);
}
.porsche img:hover {
  transform: scale(1.1);
}
.porsche p {
  flex: 1;
  margin: 0;
  color: white;
}
a {
  display: inline-block;
  width: 100px;
  background-color: rgb(63, 62, 62);
  cursor: pointer;
  padding: 2px;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  opacity: 0.8;
  color: white;
  text-align: center;
}

.red:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}
.red {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.darkred:hover {
  background-color: rgb(124, 47, 47);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}

.darkred {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.purple:hover {
  background-color: rgb(126, 57, 210);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}
.purple {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.blue:hover {
  background-color: rgb(37, 120, 204);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}

.blue {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.white2:hover {
  background-color: rgb(245, 243, 243);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}

.white2 {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.pink:hover {
  background-color: rgb(255, 0, 128);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}

.pink {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.black:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}

.black {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.blue2:hover {
  background-color: rgb(0, 0, 255);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}

.blue2 {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.lightblue:hover {
  background-color: rgb(0, 255, 255);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}

.lightblue {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  transition: 0.3s;
}
h2 {
  text-align: center;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background-photo.jpeg");
  background-size: cover;
  background-position: center 56%;
  background-attachment: fixed;
}
footer {
  display: flex;
  gap: 50px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 42px;
  padding: 10px;
  margin: 10px;
}

.orange:hover {
  transform: scale(1.2);
  background-color: orange;
  color: white;
  box-shadow: 0 4px 12px black;
  transition: 0.5s;
}

.orange {
  font-size: xx-large;
  width: 400px;
  transition: 0.5s;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.white:hover {
  transform: scale(1.2);
  background-color: white;
  color: gray;
  box-shadow: 0 4px 12px black;
  transition: 0.5s;
}

.white {
  font-size: xx-large;
  width: 400px;
  transition: 0.5s;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.green:hover {
  transform: scale(1.2);
  background-color: black;
  color: green;
  box-shadow: 0 4px 12px black;
  transition: 0.5s;
}

.green {
  width: 400px;
  font-size: xx-large;
  transition: 0.5s;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

hr {
  border: black;
  border-top: 1px solid black;
}
