h1 {
  background-color: #4c5051;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
img {
  width: 400px;
  border-radius: 10px;
}

main {
  background-color: rgb(76, 80, 81);
  border-radius: 10px;
  margin: 10px;
  padding: 1px;
  font-family: "Times New Roman", Times, serif;
}

button {
  width: 100px;
  background-color: rgb(63, 62, 62);
  cursor: pointer;
  padding: 2px;
  border: 50px;
  border-radius: 10px;
  font-size: 10px;
  opacity: 80%;
}
.red:hover {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 4px 12px black;
  transform: scale(1.5);
  transition: 0.5s;
}

.red {
  transition: 0.5s;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(background-photo.jpeg);
  background-size: cover;
  background-position: center 56%;
}
footer {
  display: flex;
  gap: 50px;
  justify-content: center;
  background-color: #4c5051;
  border-radius: 10px;
  height: 42px;
  padding: 10px;
}

.orange:hover {
  transform: scale(1.2);
  background-color: orange;
  color: white;
  box-shadow: 0 4px 12px black;
  transition: 0.5s;
}

.orange {
  font-size: xx-large;
  width: 200px;
  transition: 0.5s;
}

.white:hover {
  transform: scale(1.2);
  background-color: white;
  color: gray;
  box-shadow: 0 4px 12px black;
  transition: 0.5s;
}

.white {
  font-size: xx-large;
  width: 200px;
  transition: 0.5s;
}

.green:hover {
  transform: scale(1.2);
  background-color: black;
  color: green;
  box-shadow: 0 4px 12px black;
  transition: 0.5s;
}

.green {
  width: 200px;
  font-size: xx-large;
  transition: 0.5s;
}

hr {
  border: black;
  border-top: 1px solid black;
}

a img {
  transition: 0.5s;
}

a img:hover {
  transform: scale(1.5);
}

img {
  animation: zoom 1s;
}

@keyframes zoom {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
